<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hp.dsg.stratus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubscriptionListActivity"
            android:label="@string/title_activity_subscriptions"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".SubscriptionActivity"
            android:label="Provisioned Demo Details"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".OfferingListActivity"
            android:label="@string/title_activity_offerings"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".OfferingActivity"
            android:label="@string/title_activity_offering"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" />
    </application>
</manifest>
